<div class="row">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item" class="col-md-6 mx-auto">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseTwo">
                    <h1 id="codigo1"><u>Educación</u></h1>
                </button>
            </h2>
        </div>
    </div>
    <div id="panelsStayOpen-collapseTwo" class="panel-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
            <div class="col-lg2">
                <button type="button" class="agregar" routerLink="/nuevaedu" *ngIf="isLogged">
                    AGREGAR <br>EDUCACION
                </button>
                <div class="col-lg-10">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let educacion of educacion">
                                <td>
                                    <h3> {{educacion.nombreE}}</h3>
                                </td>
                                <td>
                                    <p>{{educacion.descripcionE}}</p>
                                </td>
                                <td *ngIf="isLogged">
                                    <button class="btn btn-dark" routerLink="/editedu/{{educacion.id}}">
                                        <i class="bi bi-pencil-square"></i> EDITAR</button>
                                </td>

                                <td *ngIf="isLogged">
                                    <button class="btn btn-danger" (click)="borrar(educacion.id)">
                                        <i class="bi bi-trash-fill"></i> BORRAR</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><h5>
                <p><b><u>Secundario, Colegio Arquidiocesano San José (2007)</u></b>
                Santa Fe. Con Orientación a Economía. Itinerarios de Informática (World, Excel, Outlook, SO). Inglés Avanzado.</p>
                
                <p><b><u>Operador en Primeros Auxilios (2008)</u></b>
                Santa Fe. Asociación de Profesionales en capacitación para la salud (AProSalud) y Cruz Roja.</p>
                
                <p><b><u>Promotor de Salud (2011)</u></b>
                Rosario. UNR Ciencias Médicas</p>
                
                <p><b><u>Curso RCP y Desfibrilador Externo Automático(DEA) (2015)</u></b>
                Rosario. Grupo Emerger</p>
                
                <p><b><u>Curso "Integracion de los sectores públicos y privados en la respuesta médica" (2015)</u></b>
                Rosario. CEMME (Cámara de Emergencias Mádicas y Medicina Extrahospitalaria)</p>
                
                <p><b><u>Carrera Medicina (2023)</u></b>
                Rosario. Finalizado el cursado de la carrera de MEDICINA UNR Cs. Médicas.</p>
                
                <p><b><u>Curso Argentina programa (2023)</u></b></p></h5>
                
            </div>
        </div>
    </div>
</div>