<div class="row">
    <div class="col-xs-12 col-sm-2 col md-2 col-lg-2">
        <img src="../../../assets/IMG-20230114-WA0048--.jpg" class="img-fluid" id="foto" alt="Héctor MAtías Atalis">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="texto">
        <p id="nombre">Héctor MAtías Atalis</p>
        <p>Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="info">
        <span>
            <h1 id="codigo"><u>Acerca de mi</u></h1>
            <p><br>Hola me llamo Mateo Nerli, tengo 19 años, me encuentro estudiando la tecnicatura universitaria en
                programacion en la UTN, vivo en San Nicolas de los Arroyos. Soy un desarrollador full-stack Junior.
                También soy una persona paciente, detallista y que siempre que pueda ayudar con mis conocimientos lo
                hare con gusto. <br>
                Durante mi tiempo libre me gusta juntarme con mis amigos, ir al gimnasio y buscar informacion para
                informarme sobre las ultimas novedades.</p>
        </span>
    </div>
</div>