<div class="row">
    <div class="col-xs-12 col-sm-2 col md-2 col-lg-2">
        <img src="../../../assets/IMG-20230114-WA0048--.jpg" class="img-fluid" id="foto" alt="Héctor MAtías Atalis">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="texto">
        <p id="nombre">Héctor Matías Atalis</p>
        <p>Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="info">
        <span>
            <h1 id="codigo"><u>Acerca de mi</u></h1>
            <p><b>Hola. Mi nombre es Héctor Matías, soy de Rosario.
                Estudio Medicina y trabajo en una empresa relacionado a ello.
                De chico siempre me interesó la computación y los lenguajes informáticos, llegando a programar páginas web con amigos, relacionado a videojuegos, con autoaprendizaje.
                Así que apenas me enteré de este curso, no dudé en inscribirme.
                Espero, en un futuro, también poder aplicarlo de alguna forma a mi trabajo actual.</b>
               </p>
        </span>
    </div>
</div>