
<div class="row">
    <div class="container">
        <div class="logo">
            <img src=".. /../../assets/APLogo.png" id="logo">
        </div>
        <div class="redes">
         
                <a href="https://www.facebook.com/mati.atalis"><img src="../../../assets/facebook.png" class="red" alt=""></a>
                <a href="https://www.instagram.com/yomatias89/"><img src="../../../assets/instagram.png" class="red" alt=""></a>
                <a href="https://github.com/yomatias89"><img src="../../../assets/github.png" class="red" alt=""></a>
                <a href="https://www.linkedin.com/in/hmia/"><img src="../../../assets/linkedin.png" class="red" alt=""></a>
                <button type="button" class=" boton btn btn-outline-light"(click)="login()" *ngIf="!isLogged" >Ingreso</button>
                <button type="button" class=" boton btn btn-outline-light"(click)="onLogOut()" *ngIf="isLogged" >Cerrar sesion</button>
            </div>
    </div>
</div>
